body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav {
  color: pink;
} */

.nav-wrapper {
  background-color: rgb(110, 143, 159) !important;
  font-size: 14px;
  font-weight: bold;
}

form div {
  margin: 1em;
  display: inline-block;
}

.app {
  margin: 50px;
}

button {
  background-color: rgb(110, 143, 159) !important;
}
