/* head title {
  font: Snell Roundhand;
  font-family: cursive;
} */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav {
  color: pink;
} */

.nav-wrapper {
  background-color: rgb(110, 143, 159) !important;
  font-size: 14px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

form div {
  margin: 1em;
  display: inline-block;
  flex-basis: 25%;
}

select {
  display: inline;
}

p.hidden {
  visibility: hidden;
}

.app {
  margin: 50px;
}

button {
  background-color: rgb(110, 143, 159) !important;
}

div .msg-bar-validation {
  color: rgb(255, 26, 26);
  font-size: 0.75em;
}
