div h1 {
  font-family: 'URW Chancery L';
  color: #9e9e9e;
}

div h2 {
  font-family: 'URW Chancery L';
  color: #9e9e9e;
}

div h3 {
  font-family: 'URW Chancery L';
  color: #9e9e9e;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav-wrapper {
  background-color: rgb(110, 143, 159) !important;
  font-size: 14px;
  font-weight: bold;
}

.nav-wrapper .brand-logo {
  font-family: 'Snell Roundhand';
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 25px 25px;
}

.single-product {
  flex-basis: 30%;
  min-width: 200px;
  min-height: 400px;
}

/* .single-product .card-title {
  background-color: rgb(110, 143, 159);
  padding: 0px;
} */

.card .card-image .card-title {
  /* background-color: rgb(110, 143, 159); */
  background-color: #9e9e9e;
  padding: 1px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

form div {
  margin: 1em;
  display: inline-block;
  flex-basis: 25%;
}

select {
  display: inline;
}

p.hidden {
  visibility: hidden;
}

.app {
  margin: 50px;
}

button {
  background-color: rgb(110, 143, 159) !important;
}

div .msg-bar-validation {
  color: rgb(255, 26, 26);
  font-size: 0.75em;
}

.foot {
  display: block;
}

@media screen and (max-width: 1100px) {
  nav {
    height: 128px;
    line-height: 64px;
  }

  ul#nav-mobile {
    height: 100%;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
